.homepage {
  background-image: url("/img/bg.jpg");
  background-position: center;


  &__list {
    min-height: 78vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }

  &__blank {
    min-height: 70vh;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
  }

  &__blank__modal {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "DJGROSS", sans-serif;
    font-size: 50px;
    line-height: 60px;
  }

  &__paint {
    display: flex;
    align-items: center;
  }

  &__paint button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 5px solid black;
    margin: 0 10px 0 10px;
  }

  &__paint p {
    font-family: "DJGROSS", sans-serif;
    font-size: 30px;
    color: black;
    border-bottom: 3px groove black;
  }

  @media (max-width:1024px) {
    & {
      background-size: auto;
      background-position: center;
    }
  }

  @media (max-width:680px) {
    &__paint {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    &__paint ul {
      padding: 0;
    }

    &__blank__modal {
      font-size: 45px;
    }

    &__blank {
      align-content: space-between;
    }
  }


  @media (max-width: 420px) {
    &__paint p {
      font-size: 23px;
    }

    &__blank__modal {
      font-size: 35px;
    }
  }
}


.searchbar {
  width: 100%;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  color: #fff;


  &__input {
    font-family: 'Abel', sans-serif;
    font-size: 28px;
    border: 0;
    border-radius: 40px;
    background: transparent;
    color: #fff;
    width: 100%;
    background: #353535;
    height: 55px;
    top: 0;
    padding-left: 10px;
  }

  &__input:focus {
    box-shadow: 0px 0px 0px 1px #ed213a;
    outline: none;
  }

  .searchbar__div {
    display: inline-block;
    position: relative;
    width: 60%;

    @media (max-width:600px) {
      width: 90%;
    }
  }

  &__btn {
    font-size: 32px;
    position: absolute;
    right: 20px;
    top: 3px;
    bottom: 3px;
    border: 0;
    color: #fff;
    background-color: transparent;
    outline: none;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    z-index: 2;
  }
}

.alert {
  padding: 10px 17px;
  border: 1px solid black;
  text-align: center;
  background: firebrick;
  text-transform: uppercase;
  font-size: 18px;
  width: 60%;
  margin: 0 auto;
  color: white;

  @media (max-width:600px) {
    width: 100%;
  }
}